.form {
  textarea,
  input {
    border: 0;
    background: transparent;
    width: 100%;
    resize: none;
    font: inherit;
    text-align: inherit;
    padding: 0;
    margin: 0;
  }

  footer {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1.4em;
  }

  button {
    padding: 0;
    margin: 0;
    font: inherit;
    text-transform: uppercase;
    font-weight: bold;
    background: transparent;
    border: 0;
    text-decoration: underline;
    cursor: pointer;
  }
}
